# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# lint folder
/lint

# misc
.DS_Store
.env
/ref

#vscode
/.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*

eslint-report.json
unused.json